/* CSS Document */


/*kichen: https://pixabay.com/photos/kitchen-home-real-estate-2486092/*/


/* homes skaches :https://pixabay.com/illustrations/houses-set-architecture-clip-art-1094900/*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    min-height: 100%;
}

.btn {
    display: inline-flex;
    background-color: #666;
    color: white;
    background-image: linear-gradient(bottom, darkgrey, to lightblue);
    border-radius: 6px;
    text-decoration: none;
    border: 0.10em solid #666;
    font-size: 1rem;
    align-items: stretch;
    padding: auto;
}

.btn1 {
    display: inline-flex;
    background-color: mintcream;
    color: black;
    background-image: linear-gradient(bottom, darkgrey, to lightblue);
    border-radius: 6px;
    text-decoration: none;
    border: 0.10em solid #666;
    font-size: 1rem;
    align-items: stretch;
    padding: auto;
}

*/
/*HEADER START*/

header {
    margin: auto;
    place-items: center;
}


/* BANNER START*/

.banner {
    display: inline-flex;
    width: 100%;
    position: fixed;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    padding-top: ;
    background-color: royalblue;
    min-height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 30000;
}

.banner ul {
    line-height: 32px;
    color: #ffffff;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    padding: 0;
    align-items: center;
    word-wrap: break-word !important;
    font-family: 'Open Sans', sans-serif;
}

.banner h3 {
    align-items: center;
    justify-content: center;
    color: white;
}

@media all and (max-width: 1400px) {
    .banner,
    .banner ul {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .banner,
    .banner ul {}
}


/* BANNER END*/


/* NAV START*/

.toggle,
[id^=drop] {
    display: none;
}


/* Giving a background-color to the nav container. */

nav {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 120px;
    background-color: lightcoral;
    position: fixed;
    margin: 50px auto;
    align-items: center;
    place-content: center;
    justify-content: center;
    position: abslute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 30000;
}

@media all and (max-width:1400px) {
    .nav {
        margin-top: 0px;
    }
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}


/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    gap: 50px;
    display: inline-block;
    background-color: ;
}


/* Styling the links */

nav a {
    display: block;
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
    color: blue;
    text-decoration: none;
}

nav ul li ul li:hover {
    background-color: lightgrey;
}


/* Background color change on Hover */

nav a:hover {
    background-color: lightgrey;
}


/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px;
}


/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}


/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

#logo {
    display: block;
    position: relative;
    width: 100%;
    max-width: 130px;
    margin: 50px auto;
    padding: 0;
    /*mentioned font 20px+line height  60px reduced height of logo+nav*/
}

#logo img {
    width: 100%;
    object-fit: cover;
}

#logo ul {
    width: 50px;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: auto;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    width: 120px;
    font-size: 20px;
    text-decoration: none;
    font: red;
}

.menu li a {
    color: black;
    background: none;
}


/* Media Queries
/*--------------------------------------------- */

@media all and (max-width: 600px) {
    #logo {
        display: none;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0 auto;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .banner,
    .toggle+a,
    .menu {
        display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        background-color: #254441;
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background-color: #000000;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
}

@media all and (max-width: 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
}


/* NAV START*/

.page-wrapper {
    min-height: 100%;
}


/*HEADER END*/


/* SHOWCASE START*/


/*SHOWCASE END */


/*SHOWCASE 2 START */

.title {
    display: grid;
    width: 100%;
    margin: auto;
    padding-top: px;
    align-items: center;
    justify-content: center;
    background-image: url("images/bannerphoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: ;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    text-align: center;
}

.textover {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

@media all and (max-width: 1400px) {
    .title {
        width: 100%;
        margin: -15px auto;
    }
}

.title .textover img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 600vh;
    z-index: 0.2;
    opacity: -80000;
    object-fit: scale-down;
}

.button {
    display: inline-flex;
    float: left;
    width: 100%;
}

.button {
    object-fit: cover;
}

@media all and (min-width: 900px) {
    .tags {
        flex-direction: column;
        margin: auto;
    }
}

* {
    box-sizing: border-box
}

.btn3,
.btn4 {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    height: 5vh;
    object-fit: fill;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: sandybrown;
    border: solid 2px olivedrab;
    border-radius: 10px;
}

.btn3:hover {
    background: lightgrey;
    color: blue;
}

.btn4:hover {
    background: lightgrey;
    color: navy;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}


/*SHOWCASE 2 END */


/* CAPTION START*/

.caption {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    place-items: center;
    justify-content: center;
    color: black;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: silver;
    font-size: 20px;
    justify-content: center;
    justify-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caption ul {
    width: 80%;
}

.caption h2 .highlight {
    background-image: linear-gradient(to right, #f9989f, #fccb8f, #faf098);
    border-radius: 6px;
    padding: 3px;
    font-size: 20px;
    text-shadow: 0 2px 0 blue;
}

.caption h1 h2 {
    text-align: center;
}


/* OFFER START */

.offer {
    display: flex;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    justify-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: ;
    margin: auto;
}

.offer ul {
    width: 50%;
}


/*SERIVICES/CONTENT Start*/

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "content1 content2 content3"
}

.services {
    grid-area: services;
    background-position: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.content1 {
    margin-right: 10px;
    background-color: lightgray;
    font-size: 1rem;
    margin-bottom: 3rem;
    fill-opacity: auto;
    width: 450px;
    padding: 5px;
}

.content1 p {
    font-size: 22px;
    text-indent: justify;
}

.content1-photo {
    display: grid;
    background-color: darkorange;
}

.list {
    column-count: 2;
}

.list ul {
    margin-top: 0;
    column-width: 300px;
    text-align: ;
    line-height: 1.5;
    height: auto;
    margin: 0;
    padding-left: 25px;
}

.content2 {
    margin-right: 10px;
    background-color: lightgray;
    font-size: 1rem;
    margin-bottom: 3rem;
    fill-opacity: auto;
    width: 450px;
    padding: 5px;
}

.content2 p {
    font-size: 22px;
    text-indent: justify;
}

.content2-photo {
    display: grid;
    background-color: darkorange;
}

.content3 {
    margin-right: 10px;
    background-color: lightgray;
    font-size: 1rem;
    margin-bottom: 3rem;
    fill-opacity: auto;
    width: 450px;
    padding: 5px;
}

.content3 p {
    font-size: 22px;
    text-indent: justify;
}

.content3-photo {
    display: grid;
    background-color: darkorange;
}


/*SERIVICES/CONTENT END */


/*CONTACT FORM START*/

.contact-wrapper {
    display: grid;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.company-info {
    display: grid;
    background: #C3C9DD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-items: center;
    align-items: center;
    padding: 0px;
}

.company-info img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    margin-top: 100px auto;
}

.company-info ul li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.company-info ul li h2 h3 {
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.company-info ul i {
    font-size: 30px;
}

.contact {
    display: grid;
    background: #dcdfea;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
    padding: 20px;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 0.80em;
    border: solid 1px #627EDC;
    border-radius: 4px;
}

.contact form textarea {
    resize: none;
}

.contact form button {
    background: #627EDC;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
    background: #3952a3;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;
}

@media only screen and (min-width: 700px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .contact-wrapper>* {
        padding: 2em;
    }
    .company-info {
        border-radius: 4px 0 0 4px;
    }
    .contact {
        border-radius: 0 4px 4px 0;
    }
    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}

@media only screen and (max-width: 700px) {
    .company-info img {
        width: 100%;
        margin: auto;
        object-position: center;
    }
}


/*3rd form end  */


/*MEMBERSHIP START*/

.affiliation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    background-color: ;
    border: 0.50px solid orange;
}

.nest {
    width: 100%;
    max-width: 300px;
}

.nest ul {
    width: 100%;
    max-width: 200px;
}


/*MEMBERSHIP END */


/*FOOTER START*/

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #3d3d3d;
}

.footer .sub-footer .column {
    margin-left: 0px;
}

.footer .column {
    width: 220px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .column h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .column ul li {
    color: #999999;
    font-size: .80em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .column ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.rights ul {
    display: flex;
    justify-content: center;
    color: white;
    clear: both;
}

@media only screen and (min-width: 1100px) {
    .sub-footer {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .sub-footer .social {
        width: 1100px;
        display: block;
    }
    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .footer .column {
        width: 20%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 745px) {
    .footer .column {
        width: 40%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .column {
        width: 40%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    .footer .column {
        width: 100%;
    }
}

@media only screen and (max-width: 335px) {
    .sub-footer .social {
        display: inline-flex;
        width: 100%;
    }
}

.base {
    margin: 0;
    width: 100%;
    Justify-content: center;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    background-color: coral;
    justify-content: contain;
}

.base ul {
    width: 100%;
    Max-width: 700px;
    align-items: center;
    Justify-content: center;
    list-style: none;
    text-decoration: none;
    justify-content: contain;
}

.base ul li {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .base ul {
        width: 100%;
        margin: 0;
        Justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}


/*FOOTER END */


/* photo refe https://pixabay.com/photos/mouse-rodent-cute-mammal-nager-1708378/*/


/* cockraches photo ref https://pixabay.com/vectors/bug-cockroach-insect-roach-1295181/*/


/* bedbug photo ref https://pixabay.com/vectors/animal-bedbug-bed-bug-infestation-2027062/*/


/* mice photo https://pixabay.com/vectors/mouse-mice-animal-rodent-small-303588/